@charset "UTF-8";

@font-face {
  font-family: "abovethefray-icons";
  src:url("fonts/abovethefray-icons.eot");
  src:url("fonts/abovethefray-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/abovethefray-icons.woff") format("woff"),
    url("fonts/abovethefray-icons.ttf") format("truetype"),
    url("fonts/abovethefray-icons.svg#abovethefray-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "abovethefray-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="atf-"]:before,
[class*=" atf-"]:before {
  font-family: "abovethefray-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.atf-heart-o:before {
  content: "\61";
}
.atf-heart:before {
  content: "\62";
}
.atf-trash-o:before {
  content: "\63";
}
.atf-icon-account:before {
  content: "\64";
}
.atf-icon-arrow-up:before {
  content: "\65";
}
.atf-icon-checkmark:before {
  content: "\66";
}
.atf-icon-checkmark-circle:before {
  content: "\67";
}
.atf-icon-chevron-down:before {
  content: "\68";
}
.atf-icon-chevron-left:before {
  content: "\69";
}
.atf-icon-chevron-right:before {
  content: "\6a";
}
.atf-icon-chevron-up:before {
  content: "\6b";
}
.atf-icon-edit:before {
  content: "\6c";
}
.atf-icon-external-link:before {
  content: "\6d";
}
.atf-icon-gift-card:before {
  content: "\6e";
}
.atf-icon-grid:before {
  content: "\6f";
}
.atf-icon-hamburger:before {
  content: "\70";
}
.atf-icon-social-facebook-stroke:before {
  content: "\71";
}
.atf-icon-shopping-cart:before {
  content: "\72";
}
.atf-icon-search:before {
  content: "\73";
}
.atf-icon-question:before {
  content: "\74";
}
.atf-icon-plus:before {
  content: "\75";
}
.atf-icon-play:before {
  content: "\76";
}
.atf-icon-phone:before {
  content: "\77";
}
.atf-icon-menu:before {
  content: "\78";
}
.atf-icon-logout:before {
  content: "\79";
}
.atf-icon-location:before {
  content: "\7a";
}
.atf-icon-info:before {
  content: "\41";
}
.atf-icon-image:before {
  content: "\42";
}
.atf-icon-social-faebook:before {
  content: "\43";
}
.atf-icon-social-instagram:before {
  content: "\44";
}
.atf-icon-social-instagram-stroke:before {
  content: "\45";
}
.atf-icon-social-youtube:before {
  content: "\46";
}
.atf-icon-star:before {
  content: "\47";
}
.atf-icon-warning:before {
  content: "\48";
}
.atf-icon-x:before {
  content: "\49";
}
.atf-icon-x-circle:before {
  content: "\4a";
}
.atf-twitter:before {
  content: "\4b";
}
